@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.App{
  min-height: 100vh;
  display: flex;
  background: radial-gradient(circle, #1a237e, #000000);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
